.gallery img{
    width: 100%;
}

#menu{
    width:100%;
      height:40px;
      background-color: cornflowerblue;
      padding-top: 12px;
}

#menu a{
    color:#ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration:none;
    font-weight: 800px;
    
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
     color: #5077bd;
}

h1{
    color: rgb(0, 195, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: chocolate;
    font-family: fantasy;
}

ul{
    list-style-image: url(images/pointer-icon.png);
}

ol{
    list-style-type: upper-roman;
}



table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width   : 1px;
    border-style   : solid;
    border-color   : #2695A6;
}

th{
    font-weight: 800;
    background-color: #2695A6;
    color           : #ffffff;

}